apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-tikgfmxh
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-tikgfmxh:5c77b6daf42078d53e01402a4afbdf7df8f6453a@sha256:866b42791ff3db40edc0e246a8e7845baf54f2fd121031195ac620529424e4ac
          name: container-image
